<%= render "partials/header" %>

<div class="container mainContainer">
  <h1 class="text-4xl text-blue-600">Lista de usuarios</h1>

  <table>

    <tr>
      <td>Nombre</td>
      <td>Correo</td>
      <td>Contraseña</td>
      <td>Creado</td>
      <td>Actualizado</td>
      <td>Admin</td>
    </tr>

    <% @usuarios.each do |usuario| %>
    <tr>
      <td><%=usuario.name%></td>
      <td><%=usuario.email%></td>
      <td><%=usuario.encrypted_password%></td>
      <td><%=usuario.created_at%></td>
      <td><%=usuario.updated_at%></td>
      <td><%=usuario.admin%></td>
    </tr>
    <% end %>

  </table>


</div>

<%= render "partials/footer" %>