<div class="deviseContainer mt-16">
  <!-- Edit  resource_name.to_s.humanize %> -->
  <h2 class="text-center text-blue-600 text-2xl mb-5">Editar usuario: <%=(params[:x])%></h2>
  <%= form_with(model: @usuarios, url: all_path, class: 'w-full') do |f| %>

    <div class="field">
      <%= f.label :name, "Nombre:", class: "block text-gray-700 text-sm font-bold mb-2"%>
      <%= f.text_field :name, autofocus: true, class: "shadow appearance-none border rounded w-full
      py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :email, "Correo:", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full
      py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña:", class: "block text-gray-700 text-sm font-bold"%>
      <i class="text-xs">(Dejarlo en blanco para no cambiar la contraseña)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full
      py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      <% if @minimum_password_length %>
        <em class="text-xs text-red-600"><%= @minimum_password_length %> caracteres mínimos</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar contraseña:", class: "block text-gray-700 text-sm font-bold" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full
      py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "Contraseña actual:", class: "block text-gray-700 text-sm font-bold" %>
      <i class="text-xs">(Se necesita la contraseña actual para aplicar los cambios)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full
      py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :admin, "¿Administrador?", class: "text-gray-700 text-sm font-bold mr-5"%>
      <%= f.check_box :admin %>
    </div>

    <div class="field text-center">
      <%= f.submit "Actualizar", class: "bg-gray-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none
      focus:shadow-outline mx-auto" %>
    </div>
  <% end %>

  <div class="flex flex-wrap mt-5">
    <%= link_to "Desactivar la cuenta", registration_path(@usuarios), data: { confirm: "¿Estás seguro?" }, method: :delete,
                class: "link w-full" %>
    <%= link_to "Volver", all_path, class: "link w-full" %>
  </div>

</div>