<%= render "partials/header" %>
<div class="container mainContainer">
  <h1 class="text-blue-600 text-4xl mb-4">Noticias</h1>

  <div class="flex flex-row flex-wrap">
    <% @noticia.each do |noticia| %>
      <div class="w-1/2 mb-3 p-5">
        <h2 class="text-2xl font-semibold"> <%= noticia.title %></h2>
        <p> <%= noticia.subtitle %> </p>
        <%= link_to news_path(noticia.id) do %>
          <img src="<%=noticia.photo%>" alt="<%=noticia.title%>" class="image" >
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <a class="inline-flex items-center h-8 px-4 m-2 text-white transition-colors bg-gray-400
      rounded-lg focus:shadow-outline hover:bg-indigo-600" href="<%= new_news_path %>">Redactar noticia</a>
  </div>

</div>

<%= render "partials/footer" %>