<%= render "partials/header" %>
<div class="container mainContainer flex flex-wrap">

  <div class="w-full mb-5 border-b border-blue-600">
    <h1 class="text-blue-600 text-4xl"> <%= @noticia.title %> </h1>
    <h2 class="text-gray-500 text-xl"> <%= @noticia.subtitle %> </h2>
  </div>
  <!--<hr class="w-2/3 mx-auto mt-2 mb-4">-->
  <p> <%= @noticia.content %> </p>
  <img src="<%= @noticia.photo %>" alt="<%= @noticia.title%>" class="noticeImg mt-5">

  <div class="w-full text-center mt-5">
    <% if signed_in? && current_user.admin %>
      <%= link_to "Editar", edit_news_path(@noticia.id), class: "inline-flex items-center h-8 px-4 m-2
      text-white transition-colors bg-gray-400 rounded-lg focus:shadow-outline hover:bg-blue-600" %>
      <%= link_to "Eliminar", news_path(@noticia.id), method: :delete, class: "inline-flex items-center h-8 px-4 m-2
        text-white transition-colors bg-gray-400 rounded-lg focus:shadow-outline hover:bg-red-600" %>
    <% end %>
    <%= link_to "Volver", news_index_path, class: "inline-flex items-center h-8 px-4 m-2 text-white transition-colors
      bg-gray-400 rounded-lg focus:shadow-outline hover:bg-blue-600" %>
  </div>

</div>
<%= render "partials/footer" %>