<%= render "partials/header" %>

<div class="container mainContainer">
  <h1 class="text-blue-600 fuente text-center text-4xl"> Define tu 11 inicial </h1>

  <%= form_with  do |form|  %>
    <div data-controller="hello">

      <div class="bg-field my-10 flex flex-row mx-auto py-5">

        <!-- Portero -->
        <div class="flex flex-col ml-16 w-1/4 justify-around">
          <div data-pos="po">
            <% name = current_user.team.PO %>
            <%= form.collection_select :PO, @porteros, :name, :name, {:prompt => 'Portero', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "po", target: "_top" do %>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
        </div>

        <!-- Defensas -->
        <div class="flex flex-col w-1/4 justify-around">
          <div data-pos="li">
            <% name = current_user.team.LI %>
            <%= form.collection_select :LI, @defensas, :name, :name, {:prompt => 'Lateral', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "li", target: "_top" do %>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
          <div data-pos="di">
            <% name = current_user.team.DCI %>
            <%= form.collection_select :DCI, @defensas, :name, :name, {:prompt => 'Central', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "di", target: "_top" do %>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
          <div data-pos="dd">
            <% name = current_user.team.DCD %>
            <%= form.collection_select :DCD, @defensas, :name, :name, {:prompt => 'Central', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "dd", target: "_top" do %>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
          <div data-pos="ld">
            <% name = current_user.team.LD %>
            <%= form.collection_select :LD, @defensas, :name, :name, {:prompt => 'Lateral', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "ld", target: "_top" do%>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
        </div>

        <!-- Mediocentros -->
        <div class="flex flex-col w-1/4 justify-around">
          <div class="" data-pos="mi">
            <% name = current_user.team.MCI %>
            <%= form.collection_select :MCI, @mediocentros, :name, :name, {:prompt => 'Interior', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "mi", target: "_top" do%>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
          <div class="" data-pos="mc">
            <% name = current_user.team.MD %>
            <%= form.collection_select :MD, @mediocentros, :name, :name, {:prompt => 'Pivote', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "mc", target: "_top" do%>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
          <div class="" data-pos="md">
            <% name = current_user.team.MCD %>
            <%= form.collection_select :MCD, @mediocentros, :name, :name, {:prompt => 'Interior', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "md", target: "_top" do%>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
        </div>

        <!-- Delanteros -->
        <div class="flex flex-col w-1/4 justify-around">
          <div data-pos="ei">
            <% name = current_user.team.EI %>
            <%= form.collection_select :EI, @delanteros, :name, :name, {:prompt => 'Extremo', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "ei", target: "_top" do%>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
          <div data-pos="dc">
            <% name = current_user.team.DC %>
            <%= form.collection_select :DC, @delanteros, :name, :name, {:prompt => 'Delantero', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "dc", target: "_top" do%>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
          <div data-pos="ed">
            <% name = current_user.team.ED %>
            <%= form.collection_select :ED, @delanteros, :name, :name, {:prompt => 'Extremo', selected: name},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "ed", target: "_top" do%>
              <%= render partial: "jugador", locals:{:n => name} %>
            <% end %>
          </div>
        </div>

        <div class="flex-row px-1">
          <%=link_to userTeam_path(current_user.id), :target => "_blank" do%>
            <div class= "bg-white py-2 px-4 rounded items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
              </svg>
            </div>
          <% end %>
        </div>

      </div>
      <div class="text-center w-full">
        <%= form.submit "Enviar plantilla", class: "mx-auto inline-flex items-center h-8 px-4 m-2 text-white
          transition-colors bg-gray-400 rounded-lg focus:shadow-outline hover:bg-indigo-600"%>
      </div>
    </div>
  <% end %>

</div>

<%= render "partials/footer" %>