<%= render "partials/header" %>

<div class="container mainContainer">
  <h1 class="text-blue-600 fuente text-center text-4xl"> Define tu 11 inicial </h1>

  <%= form_with  do |form|  %>
    <div data-controller="hello">
      <div class="bg-field my-10 flex flex-row mx-auto py-5">

        <!-- Portero -->
        <div class="flex flex-col ml-16 w-1/4 justify-around">
          <div  data-pos="po">
            <%= form.collection_select :PO, @porteros, :name, :name, {:prompt => 'Portero'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "po", target: "_top" do %>
              <% jugador = Player.where("name LIKE :aux", aux: current_user.team.PO)%>
              <%= render partial: "jugador", locals:{x:jugador} %>
            <% end %>
          </div>
        </div>

        <!-- Defensas -->
        <div class="flex flex-col -ml-10 w-1/4 justify-around">
          <div data-pos="li">
            <%= form.collection_select :LI, @defensas, :name, :name, {:prompt => 'Lateral'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "li", target: "_top" do %>
              <% jugador = Player.where("name LIKE :aux", aux: current_user.team.LI)%>
              <%= render partial: "jugador", locals:{x:jugador} %>
            <% end %>
          </div>
          <div data-pos="di">
            <%= form.collection_select :DCI, @defensas, :name, :name, {:prompt => 'Central'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "di", target: "_top" %>
          </div>
          <div data-pos="dd">
            <%= form.collection_select :DCD, @defensas, :name, :name, {:prompt => 'Central'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "dd", target: "_top" %>
          </div>
          <div data-pos="ld">
            <%= form.collection_select :LD, @defensas, :name, :name, {:prompt => 'Lateral'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "ld", target: "_top" %>
          </div>
        </div>

        <!-- Mediocentros -->
        <div class="flex flex-col -ml-10 w-1/4 justify-around">
          <div class="" data-pos="mi">
            <%= form.collection_select :MCI, @mediocentros, :name, :name, {:prompt => 'Interior'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "mi", target: "_top" %>
          </div>
          <div class="" data-pos="mc">
            <%= form.collection_select :MD, @mediocentros, :name, :name, {:prompt => 'Pivote'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "mc", target: "_top" %>
          </div>
          <div class="" data-pos="md">
            <%= form.collection_select :MCD, @mediocentros, :name, :name, {:prompt => 'Interior'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "md", target: "_top" %>
          </div>
        </div>

        <!-- Delanteros -->
        <div class="flex flex-col -ml-10 w-1/4 justify-around">
          <div data-pos="ei">
            <%= form.collection_select :EI, @delanteros, :name, :name, {:prompt => 'Extremo'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "ei", target: "_top" %>
          </div>
          <div data-pos="dc">
            <%= form.collection_select :DC, @delanteros, :name, :name, {:prompt => 'Delantero'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "dc", target: "_top" %>
          </div>
          <div data-pos="ed">
            <%= form.collection_select :ED, @delanteros, :name, :name, {:prompt => 'Extremo'},
                                       {data: {action: "change->hello#prueba"}}%>
            <%= turbo_frame_tag "ed", target: "_top" %>
          </div>
        </div>

      </div>
      <div class="text-center w-full">
        <%= form.submit "Enviar plantilla", class: "mx-auto inline-flex items-center h-8 px-4 m-2 text-white
          transition-colors bg-gray-400 rounded-lg focus:shadow-outline hover:bg-indigo-600"%>
      </div>
    </div>
  <% end %>

</div>

<%= render "partials/footer" %>